<div class="ion-text-center">
  <h4>{{ 'WelcomePage.Title.Wellcome' | translate }} {{ user.firstName}} {{ user.lastName }}</h4>
  <hr class="divider-line">
  <div class="scrollable-container">
    <ion-item #itemCuenta>
      <ion-label position="floating">{{ "MisDatos.cuenta" | translate}}</ion-label>
      <ion-input id="username" type="text" [(ngModel)]="user.userName"></ion-input>
    </ion-item>

    <ion-item #itemNombre>
      <ion-label position="floating">{{"MisDatos.nombre" | translate}}</ion-label>
      <ion-input id="firstname" type="text" [(ngModel)]="user.firstName"></ion-input>
    </ion-item>

    <ion-item #itemApellido>
      <ion-label position="floating">{{"MisDatos.apellido" | translate}}</ion-label>
      <ion-input id="lastname" type="text" [(ngModel)]="user.lastName"></ion-input>
    </ion-item>

    <ion-item #itemCorreo>
      <ion-label position="floating">{{"MisDatos.correo" | translate}}</ion-label>
      <ion-input id="email" type="text" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item #itemDireccion>
      <ion-label position="floating">{{"MisDatos.direccion" | translate}}</ion-label>
      <ion-input id="address" type="text" [(ngModel)]="user.address"></ion-input>
    </ion-item>

    <!-- <ion-item #itemDireccion>
      <ion-label position="floating">admin</ion-label>
      <ion-input type="text" [(ngModel)]="user.isAdmin"></ion-input>
    </ion-item> -->

    <ion-item #itemPreguntaSecreta>
      <ion-label position="floating">{{"MisDatos.pregunta" | translate}}</ion-label>
      <ion-input id="secretquestion" type="text" [(ngModel)]="user.secretQuestion"></ion-input>
    </ion-item>

    <ion-item #itemRespuestaSecreta>
      <ion-label position="floating">{{"MisDatos.respuesta" | translate}}</ion-label>
      <ion-input id="secretanswer" type="text" [(ngModel)]="user.secretAnswer"></ion-input>
    </ion-item>

    <ion-item #itemPassword>
      <ion-label position="floating">{{"MisDatos.contraseña" | translate}}</ion-label>
      <ion-input id="password" type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <ion-item #itemRepetirPassword>
      <ion-label position="floating">{{"MisDatos.repcontraseña" | translate}}</ion-label>
      <ion-input id="password2" type="password"></ion-input>
    </ion-item>

    

    <ion-item #itemEducacion class="font-size-12">
      <ion-select [(ngModel)]="user.educationalLevel!.id" id="education"
          (ionChange)="actualizarNivelEducacional($event)"
          label='{{"MisDatos.educacion" | translate}}' position="floating">
        <ion-select-option id="educationlevel" *ngFor="let educationalLevel of listaNivelesEducacionales" 
          [value]="educationalLevel.id">
            {{educationalLevel.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    
    <!-- AYUDAAAA -->


    <ion-item #itemFechaNacimiento>
      <table>
        <tr>
          <td class="font-size-12">
            {{"MisDatos.nacimiento" | translate}}
          </td>
          <td class="cell-align-right">
            <input id="birth"
              matInput 
              [matDatepicker]="fechaNacimiento" 
              [(ngModel)]="user.dateOfBirth"
              placeholder="dd/mm/yyyy"
              class="date-width"
              readonly>
          </td>
          <td class="cell-width-0">
            <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
            <mat-datepicker #fechaNacimiento></mat-datepicker>
          </td>
        </tr>
      </table>
    </ion-item>

    <ion-button class="small-button" shape="round" (click)="Actualizar()">Actualizar</ion-button>



    <!-- <ion-item #itemFechaNacimiento>
      
      <table>
        <tr>
          <td class="font-size-12">
            Nacimiento
          </td>
          <td class="cell-align-right">
            <input 
              matInput 
              [matDatepicker]="dateOfBirth" 
              [(ngModel)]="user.dateOfBirth"
              placeholder="dd/mm/yyyy"
              class="date-width">
          </td>
          <td class="cell-width-0">
            <mat-datepicker-toggle matSuffix [for]="user.dateOfBirth"></mat-datepicker-toggle>
            <mat-datepicker #fechaNacimiento></mat-datepicker>
          </td>
        </tr>
      </table>
    </ion-item> -->
    <!-- boton actualizar -->

  </div>
</div>