<ion-header>
  <ion-toolbar color="Dark">

    <ion-title>
      <img alt="DUOC" src="../../../assets/images/logo_negro.png" class="foto-portada" /> 
    </ion-title>

  </ion-toolbar>
</ion-header>


  <ion-content class="ion-padding">



    <ion-content [fullscreen]="true">
      <!-- <ion-header collapse="condense">
        <ion-title class="ion-padding-top">     
        </ion-title>
      </ion-header> -->
    
      <ion-label class="ion-text-center">
        <h1>
          {{"Incorrecto.mensaje" | translate }}
        </h1>
        <ion-card #cardImagen class="ion-text-center">
          <img src="../../../assets/images/incorrecto.png" alt="" size="50%">
          <br>
          <ion-button class="small-button" size="small" (click)="logout()">{{"Incorrecto.volver"| translate}}</ion-button>
        </ion-card>
      </ion-label>
      <!-- <ion-col size="12" class="centrar">
        <ion-button size="small" (click)="login()">Volver al inicio de sesión</ion-button>
      </ion-col> -->
    
    
    </ion-content>
  
  
  
  
  
  </ion-content>
  <ion-footer>
  </ion-footer>







